.answer_title {
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #f0b200;
  width: 1000px;
  font-size: 50px;
}

.answer_tb {
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  padding-top: 20px;
}

.tb_title {
  width: 400px;
  font-size: 35px;
  font-weight: bold;
  margin: -20px auto;
  padding: 40px 0px 0px 195px;
}
