body {
  margin: 0px;
  color: #410000;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

.answer_title {
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #f0b200;
  width: 1000px;
  font-size: 50px;
}

.answer_tb {
  text-align: center;
  margin: 0 auto;
  font-size: 35px;
  padding-top: 20px;
}

.tb_title {
  width: 430px;
  font-size: 35px;
  font-weight: bold;
  margin: -20px auto;
  padding: 40px 0px 0px 180px;
  text-align: center;
}
